modules = ["python-3.11", "python-3.12"]
run = "poetry run python chatbot.py"
disableGuessImports = true


[nix]
channel = "stable-24_05"

[deployment]
run = ["poetry run python chatbot.py"]

[[ports]]
localPort = 36101
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 42565
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 45551
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 46437
externalPort = 3001
exposeLocalhost = true
